/*--------------------------------------------------------------
# Google Map One
--------------------------------------------------------------*/
.google-map-one {
  position: relative;
  display: block;
  padding: 20px 0 120px;
  background: linear-gradient(180deg, #F2F2FF 0%, rgba(242, 242, 255, 0) 100%);
  z-index: 1;
}

.google-map__one {
  position: relative;
  display: block;
  height: 530px;
  width: 100%;
  border-radius: 24px;
}








/*--------------------------------------------------------------
  # End
  --------------------------------------------------------------*/